body{
  background-color: black;
}

.card .card-header{
  text-align:center;
  font-weight:bold;
  color:gold;
  background-color:purple;
  border:3px solid black;
}

.navbar{
border: 0.25px solid purple;
}

.card .card-body{
  background-color:gold;
   border:3px solid black;
}

.card .card-body a{
  color:purple;
  font-weight:bold;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  text-decoration:none;
}

.row{
display: flex;
justify-content: center;
align-items:center;
min-height:400px;

}

.card {
  align-items:stretch;
  max-height:275px;
  max-width:auto;
  padding: 2px 2px 2px 2px;
  margin: 10px;
  display: flex;
  justify-content: center;
  
}

.card-body{
  font-size:20px;
  text-decoration:none;
  text-align:center;

}


